---
Checks: '*,-llvmlibc-callee-namespace,-modernize-use-trailing-return-type,-fuchsia-trailing-return,-llvmlibc-implementation-in-namespace,-llvmlibc-restrict-system-libc-headers,-readability-else-after-return,-llvm-else-after-return'
CheckOptions:
  - key:             hicpp-signed-bitwise.IgnorePositiveIntegerLiterals
    value:           'true'